<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="{{ asset('manifest.webmanifest') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-D6P40ZVYSJ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-D6P40ZVYSJ');
        </script>
    </head>
    <body>
        <header class="bg-white p-3 row text-sm-center">
            <div class="col-sm-12 col-lg-6">
                <a href="http://jeveuxmon.app" target="_blank">
                    <img src="{{ asset('assets/logo.png') }}" width="350" class="border-0" />
                </a>
            </div>
            <div class="col-sm-12 col-lg-6 justify-content-end">
                <h1 class="text-primary text-uppercase">SCAN PRODUCT PRICE</h1>
            </div>
        </header>
        <main class="p-4">
            {% block body %}{% endblock %}
        </main>
        <footer>

        </footer>
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
    </body>
</html>
